* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 100vh;
    gap: 20px;
    background-color: #d1d1dae7;
}

html {
    font-family: 'Nunito', sans-serif;
}

.active {
    background-color: #33d6bb;
    width: 100%;
    border-radius: 10px;
}

.vertical-menu {
    background-color: white;
    padding: 10px;
    line-height: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.vertical-menu ul li a {
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

.vertical-menu ul li {
    padding: 5px;
    list-style-type: none;
}

ul.main-menu {
    padding: 0;
}

.main-menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vertical-menu ul li:hover {
    background-color: #33d6bb;
    border-radius: 10px;
}

.vertical-menu ul li a:hover {
    color: white;
}

.main-content {
    background-color: #f8f8f9;
}

main {
    margin: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

i {
    width: 30px;
    margin-right: 5px;
}

.user-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-panel img {
    width: 200px;
}

.user-title {
    background-color: #0c337c;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px 25px;
    border-radius: 10px;

}

/* CSS Main Content */
.main-content {
    padding: 20px;
}

.main-title-content {
    margin-bottom: 30px;
}

.breadcrumb {
    display: flex;
    flex-direction: column;
}

.page-title {
    display: block;
    background-color: #0c337c;
    width: 300px;
    color: white;
    padding: 15px;
    font-size: 25px;
    border-radius: 10px;
}

.page-description {
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
}

button {
    padding: 5px 10px;
    border: none;
    color: white;
    border-radius: 10px;
}

button:hover {
    opacity: 85%;
}

table {
    font-size: 20px;
}

table tr:first-child {
    color: black;
    font-weight: bold;
}

.d-flex {
    margin: 30px 0px;
}

#search-bar {
    width: 300px;
    border: 1px ridge #ccc
}

#search-btn {
    border: none;
    background-color: #0c337c;
    color: white
}

#search-btn:hover {
    opacity: 85%;
}

table td {
    vertical-align: middle;
}

table tr td img {
    width: 50px;
}

.change-user-btn {
    background-color: #007aff;
}

.delete-product-btn,
.delete-user-btn,
.delete-order-btn {
    background-color: #ed5e68;
}

.detail-product-btn {
    background-color: #0c337c;
}

.detail-order-btn {
    background-color: #0c337c;
    padding: 5px 10px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

table tr:first-child {
    color: black;
    font-weight: normal;
}

table tr {
    vertical-align: middle;
}


.product-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.product-panel .add-product-btn {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: #27a647;
    margin-right: 100px;
}

.revenue-text {
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    background-color: #27a647;
    margin-right: 100px;
    border-radius: 10px;
    width: auto;
}


/*  CSS Manage Order Page */

.summary-order {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.cart-title {
    font-weight: bold;
    text-align: center;
}

.cart-shipping-title {
    width: 120px;
    text-align: left;
}

.cart-shipping,
.card-total {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;

}

.cart-shipping input {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    border: 1px solid black;
}

.cart-shipping-title,
.cart-quantity-item {
    margin: 0;
}

.cart-total-quantity,
.cart-quantity-item {
    font-size: 20px;
    background-color: #0c337c;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.edit-order-btn {
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;

}

#shipping-status {
    padding: 10px 10px;
}

.update-product-order-icon {
    color: #0c337c
}

.remove-product-order-icon {
    color: red
}

.update-product-order-icon:hover,
.remove-product-order-icon:hover {
    opacity: 85%;
    cursor: pointer;
}

/* CSS Manage Products Page */
.product-detail-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.product-add-quantity,
.product-price,
.product-vendor,
.product-sku {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.product-add-quantity p:first-child,
.product-price span:first-child,
.product-vendor span:first-child,
.product-sku span:first-child {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #33d6bb;
}

.product-add-quantity p {
    margin: 0;
}

.product-add-quantity input {
    width: 100px;
    padding: 10px;
}

.product-detail-page-add-to-cart-btn {
    background-color: #eb6300;
    border: none;
    color: white;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.product-detail-page-add-to-cart-btn:hover {
    opacity: 85%;
}

.product-title-name,
.product-description {
    text-align: justify;
}

.product-title-name {
    color: #0c337c;
    font-weight: bold;

}

.product-description {
    font-size: 16px;
}

.edit-product-manage-page,
.add-product-manage-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.edit-product-ttitle-manage-page,
.add-product-ttitle-manage-page {
    font-weight: bold;
    text-align: center;
}

.product-detail-edit-title,
.product-detail-add-title {
    width: 160px;
    text-align: left;
    margin: 0;
}

.product-details-info-manage-page,
.product-details-add-manage-page {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;

}

.product-details-info-manage-page input,
.product-details-add-manage-page input {
    width: 80%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    border: 1px solid black;
}