.contact-us-banner {
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHfsOGw3H1elO1dUTtq7gjIC7KpKIgafQRtbwgJS9EzyyK2xpxtX00KPED9CciG5zhJ0r_WQQFLICZMJU2F_6nwbnmrr3QP7Tt5uGNjthLlzsnr_KTndOuQ2jyzvl35Iwa3ybcwBakHY665QWd-zYuf9u-eUvDTwGuRw8zc9n78i03hez2LYB_mLHYH7BM4-IftLCJcozPlD80dGvxNcNVXC2K5VWRFZ99A9dyGEWnpDP8mHrPlgjFIWLWd80d-11IWg5z8Is9EF21mzORwummf42a6CGYKoCGxlplHD9cWhq8tDYlpZwhQn0B6cvuzQYnpq1PRJOvp9Qi3j-z_1nRIQKJxpAI5v3IXo5YmVfgDQD7LhEw4D3nJ12j3Oj1wymWoVAle0mi51r6Ew-4c1rlo5A4-Gi0WHFJh4AoGqY4iL7UT2nS0h1WqATT-T6rbvpDcSB2wkCe5abq_VTqQge2OIaze9Lmi0O1_d_gMCKJCEbN1H2ZpPTuMixQc3skn0QVhtrUv7cjiFG4TCjq7K1dyH6pmcE4BhD3h2Vkf2sFZfrrdVZ4-FmzB8y36gmyq0PoKTXSkK_006yKHtYhbU7EG8EmLHMb8QSn013AuyTBXCldIamdo5nBSHj2XtgqEft34mFhgOgRICrBDC_LPqZJmy8-pm1u_dU-7WKTCwmtftlARbPyoKV-Ci3CMV8ZWuNJCj6sxpww4F1ewUJMa8CDIWuiu72mYor67LiGZcsA75icc_FKO4ECrtfAi5YY55mngBJo1rRKjOSNgRnrOZEnPHK8ZzYwM9oYilsWZU5lOrq_2s_jddysGctvXp44P2eoLR9262hq5o_BXpv8zjAegrclBFoRjGyzivdJEMMP5sPE3S6D7X8aZIDdq8aTIhkftaQV6-AYRtZAkHWJ-Ufzpl9w=w1920-h750-s-no-gm?authuser=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0 130px;
}

.contact-us-banner h1 {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.main-page-content {
  height: auto;
  padding: 50px;
  width: 1000px;
  margin: 0 auto;
  text-align: justify;
  line-height: 2;
}

.main-page-content h2,
.main-page-content h3,
.main-page-content h4 {
  color: #0c337c;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .main-page-content {
    width: 100%;
  }
}