/* CSS Manage Booking Page */
.list-input-manage-booking {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.manage-booking-input-item {
  display: flex;
  align-items: center;
}

.manage-booking-input-item p {
  margin: 0;
  width: 130px;
}

.manage-booking-input-item input {
  width: 400px;
}
/* 
.manage-booking-input-item select {
  width: 400px;
}

.manage-booking-my-order-card {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.my-order-card-item,
.my-order-card-total-quantity {
  font-size: 20px;
  background-color: #0c337c;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
} */


