/* CSS Product Detail Page */
.wrap-service-detail-page {
  margin-top: 100px;
  margin-bottom: 100px;
}

.service-detail-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.service-title-name {
  text-align: center;
  color: #0c337c;
  font-weight: bold;
}

.service-description {
  text-align: justify;
  font-size: 16px;
}

.service-price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.service-price span:first-child {
  width: 120px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #33d6bb;
}

.booking-service-btn {
  background-color: #eb6300;
  border: none;
  color: white;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

.booking-service-btn:hover {
  opacity: 85%;
}

.services-detail-table th,
.services-detail-table td {
  border: 1px solid #ccc;
  text-align: center;
}

.services-detail-table th {
  text-align: center;
}

.services-detail-table td:last-child {
  text-align: center;
}

.comment-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  margin: 0 auto;
}

.user-comment-product {
  text-align: left;
  margin: 0;
}

.rating-text {
  font-size: 22px;
}

.main-content-comment {
  text-align: justify;
}

.main-content-comment {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.comment-input {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.product-comment-item {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 20px;
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  gap: 20px;
}

.user-comment-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.user-avatar {
  width: 50px;
  margin: 0 auto;
}

.comment-content img {
  width: 200px;
}

.send-comment-btn {
  text-align: left;
  margin-top: 20px;
}

.delete-comment-btn {
  background-color: #ed5e68;
}

@media only screen and (max-width: 1079px) {
  .service-title-name {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .service-detail {
    margin-bottom: 25px;
  }
  .service-title-name {
    margin-top: 30px;
  }

  .booking-service-btn {
    width: 100%;
  }
}
